

/* ==========================================================================
   Author's custom styles - Only Specific to the file which inputs configuration
   ========================================================================== */


/* Dim window using angularjs*/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

#sidebar .nav li{
   padding: 10px; 
}

#sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
}
#sidebar .nav {
    width: 95%;
}

#sidebar li {
    border:0 #f2f2f2 solid;
    border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
      right: -41.6%;
    }
    
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -41.6%;
    }
    .row-offcanvas-right.active {
      right: 41.6%;
    }
    .row-offcanvas-left.active {
      left: 41.6%;
    }
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 41.6%;
    }
    #sidebar {
      padding-top:0;
    }
}


#devices-holder{
    padding:5px;
}

/* Setting related styles */
.type-setting{
    border: solid;
    padding: 2px;
    border-width: 0px;
    border-color: Gray;
}

.setting{
    border: solid;
    border-width: 0px;
    margin: 4px;
    padding: 2px;
    border-color: Gray;
}

.setting_label{
    margin-right: 200px;
}


/* cellpadding */
th, td { padding: 5px; }

/* cellspacing */
table { border-collapse: separate; border-spacing: 5px; } 
table { border-collapse: collapse; border-spacing: 0; } 

/* valign */
th, td { vertical-align: top; }

/* align (center) */
table { margin: 0 auto; }