<!DOCTYPE html>
<html lang="en" ng-app="configurator">

<head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UnifiedStack v1.0 - Beta</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'configurator/css/bootstrap.min.css' %}">
    <link href="{% static 'bootstrap-template/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bootstrap-template/css/plugins/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static 'bootstrap-template/css/plugins/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'bootstrap-template/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'bootstrap-template/css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bootstrap-template/font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
        <link rel="stylesheet" type="text/css" href="{% static 'configurator/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'configurator/css/configuration.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'configurator/css/ngDialog.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'configurator/css/ngDialog-theme-default.css' %}">


        <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
</head>

<body ng-controller="mainController">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><i class="fa fa-cloud fa-fw"></i> UnifiedStack v1.0 - Beta</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse" >
                    <ul class="nav" id="side-menu" >
                        <li class="logo">
                            <!--
                            http://www.openskycorp.com/wp-content/uploads/2009/11/Cisco-logo.jpg
                            http://www.elasticsearch.com/wp-content/uploads/2013/05/logo_cisco.jpg
                            http://www.userlogos.org/files/logos/Megert/cisco.png
                            
                            -->
                            <img src="http://i1-news.softpedia-static.com/images/news2/Cisco-to-Acquire-Prague-Based-Cognitive-Security-2.png" width="100%" class="img-responsive" alt="Responsive image">
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i><b> Dashboard</b></a>
                        </li>
                        <li>
                            <a href="#" data-ng-click="loadExistingDevicesOfType('G')"><i class="fa fa-files-o fa-fw"></i> General Setting</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-plus-square-o fa-fw"></i> Add Device<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" data-ng-click="showAddDeviceDialog('S')"><i class="fa fa-arrows-alt fa-fw"></i> Switch</a>
                                </li>
                                <li>
                                    <a href="#" data-ng-click="showAddDeviceDialog('F')"><i class="fa fa-random fa-fw"></i> Fabric Interconnect</a>
                                </li>
                                <li>
                                    <a href="#" data-ng-click="showAddDeviceDialog('C')"><i class="fa fa-sitemap fa-fw"></i> Cobbler</a>
                                </li>
                                <li>
                                    <a href="#" data-ng-click="showAddDeviceDialog('FO')"><i class="fa fa-sitemap fa-fw"></i> Foreman</span></a>
                                </li>
                                <li>
                                    <a href="#" data-ng-click="showAddDeviceDialog('P')"><i class="fa fa-cube fa-fw"></i> Packstack</span></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-refresh fa-fw"></i> Validate Configuration</span></a>
                        </li>
                        <li>
                            <a href="#" data-ng-click="saveConfiguration()"><i class="fa fa-save fa-fw"></i> Save Configuration</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-eye fa-fw"></i> View Devices<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#" data-ng-click="loadExistingDevicesOfType('S')"><i class="fa fa-arrows-alt fa-fw"></i> Switches</a>
                                </li>
                                <li>
                                    <a href="#" data-ng-click="loadExistingDevicesOfType('F')"><i class="fa fa-random fa-fw"></i> Fabric Interconnect</a>
                                </li>
                                <li>
                                    <a href="#" data-ng-click="loadExistingDevicesOfType('C')"><i class="fa fa-sitemap fa-fw"></i> Cobbler</a>
                                </li>
                                <li>
                                    <a href="#" data-ng-click="loadExistingDevicesOfType('FO')"><i class="fa fa-sitemap fa-fw"></i> Foreman</span></a>
                                </li>
                                <li>
                                    <a href="#" data-ng-click="loadExistingDevicesOfType('P')"><i class="fa fa-cube fa-fw"></i> Packstack</span></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bug fa-fw"></i> Report bug</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-child fa-fw"></i> About Us</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/rahuupad/UnifiedStack/wiki" target="_blank"><i class="fa fa-github fa-fw"></i> Visit us at git</span></a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <br/><br/><br/>
            <div class="row">
                <div class="col-lg-8">
                    <!--
                    <div class="panel panel-default">
                        <div class="panel-body">
                          Enter the configurations as necessary. Topolgy is derived from the fields below. <br/>
                          Thanks for using and supporting UnifiedStack
                        </div>
                    </div>
                    -->
                    <div  style="padding-top:0px">
                        <div class="panel-body">
                            <div class="row" id="devices-holder">
                                  <p  class="lead">
                                    Start by adding new devices or viewing existing devices in the current configuration.
                                    
                                  </p>
                                    <!-- /.table-responsive -->
                               
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-info" style="text-align: center;">
                        <div class="panel-heading">
                            <i class="fa fa-cog fa-fw"></i> Execute
                        </div>
                        <div class="panel-body" >                            
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default panel-button btn-block">Visualize Topology</a>
                        </div>
                        <div class="panel-body">                            
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default panel-button btn-block" data-ng-click="reloadConfiguration()">Import Configuration</a>
                        </div>
                        <div class="panel-body">                            
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default panel-button btn-block" data-ng-click="reloadConfiguration()">Auto Configure</a>
                        </div>
                        <div class="panel-body">                            
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default panel-button btn-block" data-ng-click="showConfigurationResult()">Configure</a>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-info fa-fw"></i> Info Messages
                                    <span class="pull-right text-muted small"><em>10</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item"> 
                                    <i class="fa fa-warning fa-fw"></i> Warnings
                                    <span class="pull-right text-muted small"><em>0</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item"> 
                                    <i class="fa fa-times fa-fw"></i> Errors
                                    <span class="pull-right text-muted small"><em>0</em>
                                    </span>
                                </a>
                            </div>
                        
                            <div class="panel-body">                            
                            <!-- /.list-group -->
                            <a href="#" class="btn panel-button btn-default btn-block">View All Alerts</a>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'bootstrap-template/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap-template/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bootstrap-template/js/plugins/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'bootstrap-template/js/sb-admin-2.js' %}"></script>

    <script src="{% static 'configurator/js/vendor/angular.min.js' %}"></script>
    <script src="{% static 'configurator/js/vendor/angular-resource.js' %}"></script>
    <script src="{% static 'configurator/js/main-controller.js' %}"></script>
    <script src="{% static 'configurator/js/vendor/ngDialog.js' %}"></script>
    <script src="{% static 'configurator/js/vendor/ui-bootstrap-tpls-0.11.2.js' %}"></script>
    <script>window.jQuery || document.write('<script src={% static "js/vendor/jquery-1.11.1.min.js" %}><\/script>')</script>
    <script src="{% static 'configurator/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'configurator/js/plugins.js' %}"></script>
    <script src="{% static 'configurator/js/main.js' %}"></script>
</body>

</html>
