<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="logger"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="logger"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="logger"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="logger"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}
	<style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
	
	
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/configuration.css' %}">

        <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UnifiedStack - Installer</a>
        </div>
	
        <div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Import</a></li>
              <li><a href="#">About Us</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Configuration Details</a></li>
                  <li><a href="#">Project Summary</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Problem?</li>
                  <li><a href="#">Raise an Issue</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Auto Configure</a></li>
              <li><a href="../navbar-static-top/">Troubleshoot</a></li>
              <li><a href="../navbar-fixed-top/">Topology</a></li>
            </ul>
        </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    {% verbatim %}
    
    <div class="container" ng-controller="logController">
	<!-- Stack the columns on mobile by making one full-width and the other half-width -->
	<div class="row">
	  <div class="col-xs-6 col-md-4">
	    <button data-ng-click="loadDevices()">Load Devices</button> <br/>
	    
	    <input type="text" placeholder="device title" ng-model="device_title"/>
	    <input type="text" placeholder="device desc" ng-model="device_desc" />
	    <button data-ng-click="newDevice()">New Device</button> <br/>

	    <select ng-model="selected_device" ng-options="device.id for device in log_devices"></select><br/>
	    <textarea ng-model="new_log_text"></textarea><br/>
	    <button data-ng-click="newLog()">New Log</button> <br/>
	  </div>
	  <div class="col-xs-12 col-md-8">
	    Sample Application {{ name }}
	    <ul>
	      <li ng-repeat="x in log_devices">
		{{ x.id }} {{x.title}}
		<ul>
		    <li ng-repeat="logs in x.logs">{{logs}}</li>
		</ul>
	      </li>
	    </ul>
	    <div class="container" ng-repeat="device in log_devices">
		<label>{{ device.title }}</label>
		<div class="bg-info" ng-repeat="log in device.logs">{{ log }}</div>
	    </div>
	  </div>
	</div>
    

	<pre>http response data: {{url}} {{ data }}...</pre>

    </div>
    {% endverbatim %}
      <hr>

      <footer>
        <p>&copy; Cloud System Development - India, Cisco Systems 2014</p>
      </footer>
    </div> <!-- /container -->
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
	
	<script src="{% static 'js/vendor/angular.min.js' %}"></script>
	<script src="{% static 'js/vendor/angular-resource.js' %}"></script>
	<script src="{% static 'js/log-controller.js' %}"></script>
        <script>window.jQuery || document.write('<script src={% static "js/vendor/jquery-1.11.1.min.js" %}><\/script>')</script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>
