<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="configurator"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="configurator"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="configurator"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="configurator"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}
	<style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
	
	
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/configuration.css' %}">

        <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">UnifiedStack - Installer</a>
        </div>
	
        <div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Import</a></li>
              <li><a href="#">About Us</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Configuration Details</a></li>
                  <li><a href="#">Project Summary</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Problem?</li>
                  <li><a href="#">Raise an Issue</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Auto Configure</a></li>
              <li><a href="../navbar-static-top/">Troubleshoot</a></li>
              <li><a href="../navbar-fixed-top/">Topology</a></li>
            </ul>
        </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    
    <div class="container" ng-controller="serverConfigController" id="server_container">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-body">
	Enter the configurations as necessary. Any simple suggestions/header content can be written here.
	{% verbatim %} <div> {{ result_message }} </div> {% endverbatim %}
      </div>
    </div>
    <!--
    <div class="panel panel-primary">
	<div class="panel-heading">General Configuration</div>
	{% for general_setting in SETTINGS.GENERAL_SETTINGS.items %}
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >{{ general_setting.0 }}</span>
		<input type="text" class="form-control" style="width:100%" name="general_{{ general_setting.1.0 }}" placeholder="{{ general_setting.1.1 }}" />
	    </div>
	{% endfor %}
    </div>
    <div class="panel panel-success">
	<div class="panel-heading">Cobbler Configuration</div>
	{% for cobbler_setting in SETTINGS.COBBLER_SETTINGS.items %}
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >{{ cobbler_setting.0 }}</span>
		<input type="text" class="form-control" style="width:100%" name="cobbler_{{ cobbler_setting.1.0 }}" placeholder="{{ cobbler_setting.1.1 }}" />
	    </div>
	{% endfor %}
    </div>
    <div class="panel panel-info">
	<div class="panel-heading"><input ng-model="is_fi_settings" type="checkbox">FI Configuration</input></div>
	<div ng-show="is_fi_settings">
	    {% for fi_setting in SETTINGS.FI_SETTINGS.items %}
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >{{ fi_setting.0 }}</span>
		<input type="text" class="form-control" style="width:100%" name="fi_{{ fi_setting.1.0 }}" placeholder="{{ fi_setting.1.1 }}" />
	    </div>
	    {% endfor %}
	</div>
    </div>
    <div class="panel panel-default">
	<div class="panel-heading">Switch Configuration</div>
	{% for fi_setting in SETTINGS.SWITCH_SETTINGS.items %}
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >{{ fi_setting.0 }}</span>
		<input type="text" class="form-control" style="width:100%" name="fi_{{ fi_setting.1.0 }}" placeholder="{{ fi_setting.1.1 }}" />
	    </div>
	{% endfor %}
    </div>
    -->
    <div class="panel panel-primary">
	<div class="panel-heading">General Configuration</div>
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Pool Id</span>
		<input type="text" class="form-control" style="width:100%" ng-model="general_pool_id" name="general_pool_id" placeholder="Enter your pool_id" value="19" />
	    </div>
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >name-server</span>
		<input type="text" class="form-control" style="width:100%" ng-model="general_name_server" name="general_name_server" placeholder="Enter name_server" />
	    </div>
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >enable-fi</span>
		<input type="text" class="form-control" style="width:100%" ng-model="general_enable_fi" name="general_enable_fi" placeholder="True/False" />
	    </div>
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >hostname-port-mapping-1</span>
		<input type="text" class="form-control" style="width:100%" ng-model="general_hostname_port_mapping_1" name="general_hostname_port_mapping_1" placeholder="" />
	    </div>
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >hostname-port-mapping-2</span>
		<input type="text" class="form-control" style="width:100%" ng-model="general_hostname_port_mapping_2" name="general_hostname_port_mapping_2" placeholder="" />
	    </div>
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >hostname-port-mapping-3</span>
		<input type="text" class="form-control" style="width:100%" ng-model="general_hostname_port_mapping_3" name="general_hostname_port_mapping_3" placeholder="" />
	    </div>
	    <div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >rhel-image-url</span>
		<input type="text" class="form-control" style="width:100%" ng-model="general_rhel_image_url" name="general_rhel_image_url" placeholder="Provide Complete Path" />
	    </div>
    </div>
    <div class="panel panel-primary">
	<div class="panel-heading">Cobbler Configuration</div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >compute-hosts</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_compute_hosts" name="cobbler_compute_hosts" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >network-hosts</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_network_hosts" name="cobbler_network_hosts" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Cobbler Distro Name</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_distro_name" name="cobbler_distro_name" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >profiles</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_profiles" name="cobbler_profiles" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_interface</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_interface" name="cobbler_interface" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_ipaddress</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_ipaddress" name="cobbler_ipaddress" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_netmask</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_netmask" name="cobbler_netmask" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_server</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_server" name="cobbler_server" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_next_server</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_next_server" name="cobbler_next_server" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_subnet</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_subnet" name="cobbler_subnet" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_option_router</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_option_router" name="cobbler_option_router" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_DNS</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_DNS" name="cobbler_DNS" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_hostname</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_hostname" name="cobbler_hostname" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_web_username</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_web_username" name="cobbler_web_username" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >cobbler_web_password</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_web_password" name="cobbler_web_password" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >redhat_username</span>
		<input type="text" class="form-control" style="width:100%" ng-model="redhat_username" name="redhat_username" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >redhat_password</span>
		<input type="text" class="form-control" style="width:100%" ng-model="redhat_password" name="redhat_password" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >redhat_pool</span>
		<input type="text" class="form-control" style="width:100%" ng-model="redhat_pool" name="redhat_pool" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >HTTP Proxy IP</span>
		<input type="text" class="form-control" style="width:100%" ng-model="http_proxy_ip" name="http_proxy_ip" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >HTTPS Proxy IP</span>
		<input type="text" class="form-control" style="width:100%" ng-model="https_proxy_ip" name="https_proxy_ip" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >HTTPS Proxy Port</span>
		<input type="text" class="form-control" style="width:100%" ng-model="https_port" name="https_port" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Cobbler Power Type</span>
		<input type="text" class="form-control" style="width:100%" ng-model="cobbler_power_type" name="cobbler_power_type" placeholder="" />
	    </div>
	
     </div>
    
    <div class="panel panel-primary">
	<div class="panel-heading">FI Configuration</div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI Cluster IP</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_Cluster_IP" name="FI_Cluster_IP" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI Cluster Username </span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_Cluster_Username" name="FI_Cluster_Username" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI Cluster Password </span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_Cluster_Password" name="FI_Cluster_Password" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI Server Ports </span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_Server_Ports" name="FI_Server_Ports" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI Uplink Ports </span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_Uplink_Ports" name="FI_Uplink_Ports" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI Slot Id </span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_Slot_Id" name="FI_Slot_Id" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI Slot 1 ports </span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_Slot_1_ports" name="FI_Slot_1_ports" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI UUID Pool name</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_UUID_pool_name" name="FI_UUID_pool_name" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI UUID Pool Start</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_UUID_pool_start" name="FI_UUID_pool_start" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI UUID Pool End</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_UUID_pool_end" name="FI_UUID_pool_end" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI MAC Pool name</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_MAC_pool_name" name="FI_MAC_pool_name" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI MAC Pool start</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_MAC_pool_start" name="FI_MAC_pool_start" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI MAC Pool end</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_MAC_pool_end" name="FI_MAC_pool_end" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI VNIC 1 name</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_vnic_1_name" name="FI_vnic_1_name" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI VNIC 1 Vlan range</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_vnic_1_vlan_range" name="FI_vnic_1_vlan_range" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI VNIC 2 name</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_vnic_2_name" name="FI_vnic_2_name" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI VNIC 2 Vlan range</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_vnic_2_vlan_range" name="FI_vnic_2_vlan_range" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI VNIC 3 name</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_vnic_3_name" name="FI_vnic_3_name" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI VNIC 3 Vlan range</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_vnic_3_vlan_range" name="FI_vnic_3_vlan_range" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >FI Service Profile name</span>
		<input type="text" class="form-control" style="width:100%" ng-model="FI_Service_profile_name" name="FI_Service_profile_name" placeholder="" />
	    </div>
    </div>
    <div class="panel panel-primary">
	<div class="panel-heading">Switch Configuration</div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Available Switches</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Switch_available_switches" name="Switch_available_switches" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Switch 1 Ip address</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Switch_1_Hostname" name="Switch_1_Hostname" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Switch 1 Ip address</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Switch_1_Ip_address" name="Switch_1_Ip_address" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Switch 1 Username</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Switch_1_username" name="Switch_1_username" placeholder="" />
	    </div>
	
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Switch 1 Password</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Switch_1_password" name="Switch_1_password" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Switch 1 VLANs</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Switch_1_vlan" name="Switch_1_vlan" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Switch 1 trunk interfaces</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Switch_1_trunk_interfaces" name="Switch_1_trunk_interfaces" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Switch 1 VRF</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Switch_1_VRF" name="Switch_1_VRF" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Switch 1 Mgmt interface</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Switch_1_Mgmt_interface" name="Switch_1_Mgmt_interface" placeholder="" />
	    </div>
	
    </div>
    <div class="panel panel-primary">
	<div class="panel-heading">Packstack Configuration</div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Compute hosts</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Packstack_compute_hosts" name="Packstack_compute_hosts" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >Network hosts</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Packstack_network_hosts" name="Packstack_network_hosts" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >keystone admin pw</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Packstack_admin_pw" name="Packstack_admin_pw" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >enable-openvswitch</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Packstack_enable_openswitch" name="Packstack_enable_openswitch" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >enable-cisconexus</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Packstack_enable_cisconexus" name="Packstack_enable_cisconexus" placeholder="" />
	    </div>
	<div class="input-group" style="width: 100%">
		<span class="input-group-addon" style="background:White;width: 200px" >VLAN mapping ranges</span>
		<input type="text" class="form-control" style="width:100%" ng-model="Packstack_vlan_mapping_ranges" name="Packstack_vlan_mapping_ranges" placeholder="" />
	    </div>
    </div>


    
	
    <center><button data-ng-click="configure()" class="btn btn-primary btn-lg">Configure</button></center>
    {% verbatim %}
	{{general_pool_id}} {{result_message}}
	
	<input type="text" ng-model="count"/>
	<div ng-repeat="console_log in console_logs">
	    <div class="bg-active">{{console_log.console_summary}}</div>
	</div>
    {% endverbatim %}
    </div>
      <hr>
	    {% verbatim %}
	    <div ng-repeat="console_log in console_logs">
		<div class="bg-active">{{console_log.console_summary}}</div>
	    </div>
	    {% endverbatim %}
	


      <footer>
        <p>&copy; Cloud System Development - India, Cisco Systems 2014</p>
      </footer>
    </div> <!-- /container -->
    	
		<script src="{% static 'configurator/js/vendor/angular.min.js' %}"></script>
	<script src="{% static 'configurator/js/vendor/angular-resource.js' %}"></script>
	<script src="{% static 'configurator/js/server-config-controller.js' %}"></script>
        <script>window.jQuery || document.write('<script src={% static "js/vendor/jquery-1.11.1.min.js" %}><\/script>')</script>
        <script src="{% static 'configurator/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'configurator/js/plugins.js' %}"></script>
        <script src="{% static 'configurator/js/main.js' %}"></script>
    </body>
</html>
