[Default]
# Write its entry into resolve.conf
name-server: 72.163.128.140
enable-fi: False
pool-id:
hostname-port-mapping-1:
hostname-port-mapping-2:
hostname-port-mapping-3:
rhel-image-url:19.19.100.102:8000/rhel-server-7.0-x86_64-dvd.iso

[Authentication]

[Cobbler-Configuration]
compute-hosts: crhel1(19.19.150.2;88:5a:92:f6:e1:9e;ethernet1/3;enp2s0f0;compute1), crhel2(19.19.150.3;78:da:6e:98:60:3a;ethernet1/4;enp2s0f0;compute2)
network-hosts: nrhel1(19.19.150.4;10:05:ca:9d:cc:26;ethernet1/7;enp2s0f0;networker1)
profiles: prof1(RHELx86_64), prof2(RHELx86_64)
cobbler_interface= enp0s0f0
cobbler_ipaddress= 19.19.150.1
cobbler_netmask= 255.255.0.0
cobbler_server = 19.19.150.1
cobbler_next_server = 19.19.150.1
cobbler_subnet = 19.19.0.0
cobbler_option_router =  19.19.0.100
cobbler_DNS = 19.19.150.1
compute-hosts: crhel1(19.19.150.2;88:5a:92:f6:e1:9e;ethernet1/3;enp1s0f0;prof1;admin;Cisco12345;19.19.100.1)
network-hosts: nrhel1(19.19.150.3;78:da:6e:98:60:3a;ethernet1/4;enp1s0f0;prof2;admin;password2;19.19.100.2)
profiles: prof1(RHELx86_64), prof2(RHELx86_64)
cobbler_interface= enp2s0f0
cobbler_ipaddress= 19.19.150.10
cobbler_netmask= 255.255.0.0
cobbler_server = 19.19.150.10
cobbler_next_server = 19.19.150.10
cobbler_subnet = 19.19.0.0
cobbler_option_router =  19.19.0.100
cobbler_DNS = 19.19.150.10
cobbler_hostname= buildserver
cobbler_web_username= cobbler
cobbler_web_password= root
redhat_username= rahuupad2
redhat_password= iso*help123
redhat_pool= 8a85f98444de1da50144e5c4aeae67d0
cobbler_netmask=255.255.0.0
proxy=19.19.0.253:80
power_type = ipmilan

[FI-Configuration]
fi-cluster-ip-address = 19.19.102.10
fi-cluster-username = fun
fi-cluster-password = Cisco12345
fi-server-ports:15, 16
fi-uplink-ports: 20
fi-slot-id: 1
fi-slot-1-ports: 15, 16
fi-uuid-pool-name: UUID-Test
fi-uuid-pool-start: 0000-000000000001
fi-uuid-pool-end: 0000-0000000003E8
fi-mac-pool-name: MAC_A
fi-mac-pool-start: 00:25:B5:6A:00:00
fi-mac-pool-end: 00:25:B5:6A:03:E7
fi-vnic-1-name:tenant
fi-vnic-1-vlan-range: 2-10
fi-vnic-2-name: internal
fi-vnic-2-vlan-range: 172
fi-vnic-3-name: management
fi-vnic-3-vlan-range: 19
fi-service-profile-name: demoLS



[Switch-Configuration]
3750-ip-address:10.106.16.253
3750-password:1@#$sDu%^7
3750-username:sdu
9k-ip-address: 19.19.0.3
9k-username: admin
9k-password: Cisco123

[Packstack-Configuration]
compute-hosts: 19.19.150.2,19.19.150.3
network-hosts:19.19.150.4
compute-hosts: 19.19.150.2
network-hosts:19.19.150.3
keystone-admin-pw: Cisco12345
enable-openvswitch: True
enable-cisconexus: True
vlan-mapping-ranges: physnet:2100:2999


